@model PSA_TF_Final.Models.DAOTicket

@{
    ViewBag.Title = "Trabalho de PSA";
}

<div class="container">
    <div class="row"><h1>Aplicação Web</h1></div>
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            @Html.ActionLink("Consultar Ticket", "ShowPriceFields", new { id = "" }, new { @class = "btn btn-lg btn-success" })

            @if (ViewBag.ShowPriceFields == true)
            {
                using (Html.BeginForm("ConsultPrice", "Home"))
                {
                    <h2 class="text-center">Ticket</h2>
                    <dl class="dl-horizontal">
                        <dt>@Html.LabelFor(model => model.Codigo)</dt>
                        <dd>
                            @Html.TextBoxFor(model => model.Codigo)
                        </dd>
                    </dl>
                    <input value="Consultar" type="submit" class="btn btn-success" />
                    <p>@ViewBag.Error</p>
                }
            }
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            @if (ViewBag.ConsultPrice == true)
            {
                <h2 class="text-center">Ticket</h2>
                <dl class="dl-horizontal">
                    <dt>@Html.DisplayNameFor(model => model.Codigo)</dt>
                    <dd>
                        @Html.DisplayFor(model => model.Codigo)
                    </dd>
                    <dt>@Html.DisplayNameFor(model => model.Entrada)</dt>
                    <dd>
                        @Html.DisplayFor(model => model.Entrada)
                    </dd>
                    <dt>Valor a ser pago: </dt>
                    <dd class="">
                        @Html.DisplayFor(model => model.Valor)
                    </dd>
                </dl>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p>Vagas disponíveis: @ViewBag.Vagas</p>
        </div>
    </div>
</div>


<div class="container">
    <div class="row"><h1>Cancela de Entrada</h1></div>
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            @Html.ActionLink("Gerar Ticket", "GenerateTicket", new { id = "" }, new { @class = "btn btn-lg btn-success" })
        </div>

    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">

            @if (ViewBag.TicketReady != null && ViewBag.TicketReady == true)
            {
                <h2 class="text-center">Ticket</h2>
                <dl class="dl-horizontal">
                    <dt>@Html.DisplayNameFor(model => model.Codigo)</dt>
                    <dd>
                        @Html.DisplayFor(model => model.Codigo)
                    </dd>
                    <dt>@Html.DisplayNameFor(model => model.Entrada)</dt>
                    <dd>
                        @Html.DisplayFor(model => model.Entrada)
                    </dd>
                </dl>
            }
        </div>
    </div>
</div>


<div class="container">
    <div class="row"><h1>Cancela de Saída</h1></div>
    <div class="row">
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
            @Html.ActionLink("Liberar Saída", "ShowFields", new { id = "" }, new { @class = "btn btn-lg btn-success" })
        </div>

        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
            @Html.ActionLink("Liberar Cancela", "ReleaseGate", new { id = "" }, new { @class = "btn btn-lg btn-success" })
        </div>

    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
            @if (ViewBag.Fields == true)
            {
                using (Html.BeginForm("Leave", "Home"))
                {
                    <h2 class="text-center">Ticket</h2>
                    <dl class="dl-horizontal">
                        <dt>@Html.LabelFor(model => model.Codigo)</dt>
                        <dd>
                            @Html.TextBoxFor(model => model.Codigo)
                        </dd>
                    </dl>
                    <input type="submit" class="btn btn-success" />
                }

                if (ViewBag.Result == "Pago")
                {
                    <label>Passagem liberada!</label>
                }
                else if (ViewBag.Result == "Não pago")
                {
                    <label>Ticket ainda não foi pago, por favor dirija-se ao guichê mais proximo.</label>
                }
                else
                {
                    <label>Insira o código do ticket, por favor.</label>
                }

            }
        </div>
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
            @if (ViewBag.ReleaseGate == true)
            {
                using (Html.BeginForm("Release", "Home"))
                {
                    <h2 class="text-center">Ticket</h2>
                    <h4>Selecione o motivo da liberação</h4>
                    <ul class="">
                        <li>@Html.RadioButton("reason", "Emergência") Emergência: </li>
                        <li>@Html.RadioButton("reason", "Evento Especial") Evento Especial</li>
                        <li>@Html.RadioButton("reason", "Outros") Outros</li>
                    </ul>
                    <input value="Liberar" type="submit" class="btn btn-success" />
                    <h4>@ViewBag.statusCancela</h4>
                }
            }
        </div>
    </div>
</div>